<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length > 0) { %>
                <div class="cart-container">
                    <% orders.forEach(order => { %>
                        <p class="title"><%= order.id %></p>
                        <% order.products.forEach(product =>{ %>
                            <div class="cart-item">
                                <p><%= product.title %>  (<%= product.orderItem.quantity %>)</p>
                            </div>
                          <%  }) %>
                    <% }) %>
                </div>
                <hr>
                <div class="centered">
                    <form action="/create-order" method="POST">
                        <button type="submit" class="btn">check out</button>
                    </form>
                </div>
            <% } else { %>
                <h1>You have not ordered yet</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>